<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nimble</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="
    s-chat
  ">
    <div class="
      s-chat_main
    ">
<!--
       <div class="
        b-message
        m-message_disconnect
      ">
        <div class="
          b-message_main
        ">
          <div class="
            b-message_main_txt
          ">
            Talker disconnected! <button type="button">Start new chat</button>
          </div>
        </div>
      </div>
-->
    </div>
  </div>

  <div class="
    s-btm-bar
  ">
    <form id="message-form" action="" class="
      s-btm-bar_form
    ">
      <textarea id="message-inp" name="ws_message" type="text" class="
        s-btm-bar_form_inp
      "> </textarea>

      <button id="btn-send" type="submit" value="send" class="
        s-btm-bar_form_btn-send
      ">
        <img src="i-send.svg" alt="">
      </button>

      <button id="btn-disconnect" type="button" value="disconnect" class="
        s-btm-bar_form_btn-disconnect
      ">
        <img src="i-logout.svg" alt="">
      </button>
    </form>
  </div>

<script src="js/bundle.js"></script>
</body>
</html>