<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nimble</title>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <div class="
    s-chat
  ">
    <div class="
      s-chat_main
    ">
      
    </div>
  </div>

  <div class="
    s-btm-bar
  ">
    <form action="" class="
      s-btm-bar_form
    ">
      <input type="submit" value="disconnect" class="
        s-btm-bar_btn-disconnect
      ">

      <textarea name="ws_message" type="text" class="
        s-btm-bar_inp
      "> </textarea>

      <input type="submit" value="send" class="
        s-btm-bar_btn-send
      ">
    </form>
  </div>

<!--
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
-->
<script src="js/bundle.js"></script>
</body>
</html>