<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nimble</title>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="../public/dist/css/main.css">
</head>
<body>

  <div class="
    s-chat
  ">
    <div class="
      s-chat_main
    ">
      
    </div>
  </div>

  <div class="
    s-form
  ">
    <form action="" class="
      s-form_main
    ">
      <textarea name="ws_message" type="text" class="
        s-form_main_inp
      "> </textarea>

      <input type="submit" value="Send" class="
        s-form_main_btn
      ">
    </form>
  </div>

<!--
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
-->
<script src="../public/dist/js/bundle.js"></script>
</body>
</html>